

  .container-form {
    display: flex;
    flex-direction: column;
  }
  
  .container-form > * {
    width: 60%;
  }

  .input-form
  {
    width: 60%;
    box-shadow: white;
    -webkit-box-shadow: 0 0 0 30px white inset;
    padding-bottom: 1em;
  }
button{
  margin-top:1em;
}

.spinner-margin{
  position: absolute;
  align-self: center;
  margin-top: 15%;
  z-index: 100;
}

[_ngheader] {
  background-image: url('../../img/rsz_offcorss_25658-2.jpg');
  background-position: initial;
  background-size: cover;
}
 