<div class="container">
    <div class="row">
       <form class="col l5 offset-l3 col s12 formulario validate">
           <div class="row">
             <div class="input-field col l9 offset-l1 s10 offset-s1">
               <i class="material-icons prefix">account_circle</i>
               <input  id="icon_prefix" type="text" class="validate" required="" aria-required="true">
               <label for="icon_prefix" data-error="wrong" data-success="right">First Name</label>
             </div>

             
           <div class="row">
            <div class="input-field col l9 offset-l1 s10 offset-s1">
              <i class="material-icons prefix">email</i>
              <input id="icon_prefix" type="email" class="validate" required="" aria-required="true">
              <label for="icon_prefix" data-error="wrong" data-success="right">Email</label>
            </div>
         </div>
         <div class="row second">
          <div class="input-field col l9 offset-l1 s10 offset-s1">
            <i class="material-icons prefix">dialpad</i>
            <input id="icon_prefix" type="password" class="validate" length="8">
            <label for="icon_prefix">Password</label>
          </div>
          
       </div>
           <div class="row second">
            <div class="input-field col l9 offset-l1 s10 offset-s1 ">
              <i class="material-icons prefix">assignment_ind</i>
              <input id="icon_prefix" type="text" class="datepicker">
            </div>
         </div>
         <div class="row">
           <div class="input-field col s10 offset-s1">
             <button class="btn red waves-effect waves-light right" type="submit" name="action" style="padding:8px;line-height:20px;">Submit
               <i class="material-icons right send">send</i>
             </button>
           </div>
         </div>

           </div>

     </form>
</div>
