<div class="container">    
  <div *ngIf="oportunidad">
    <header>
        <h1 class="md-display-2">{{oportunidad.Cargo}}</h1>      
    </header>
    <div class="container component-body">
        <h3 class="md-headline"><span>Funciones</span></h3>
        <span>{{oportunidad.Funciones}}</span>      
        <h3 class="md-headline"><span>Requisitos</span></h3>        
        <ul>
            <li><span>Profesión: {{oportunidad.Profesion}}</span></li>
            <li><span>Formación: {{oportunidad.Formacion}}</span></li>
            <li><span>Conocimientos Específicos: {{oportunidad.Conocimientos}}</span></li>
            <li><span>Otros: {{oportunidad.Otros}}</span></li>
            <li><span>Experiencia: {{oportunidad.Experiencia}}</span></li>
            <li><span>Fecha de cierre: {{oportunidad.Fechafin | date:'dd/MM/yyyy'}}</span></li>
        </ul>
        <div layout="row" layout-wrap >
            <button mat-raised-button color="primary" routerLink="/apply/{{oportunidad.Idrequisicion}}">
              Aplicar ahora
            </button>                    
          </div>
                                    
    </div>  
    <button mat-button color="primary" (click)="goBack()"><i class="material-icons">keyboard_arrow_left</i>Ver Oportunidades</button>      
  </div>
</div>  