/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .mat-toolbar {
    background: rgba(0,0,0,.87);
    color: rgba(0,0,0,.87);
    }   
   
   .container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    /*max-height: 500px;*/
    overflow: auto;
    padding: 2em;
  }